.grid-container {
    display: grid;
    grid-template-columns: 1500px;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: rgb(129, 129, 129);
    padding: 10px;
}

.Black {
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}

.white {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}
.class1{
background-color: black;
}